<!doctype html>
html(lang="en", class="no-js")
head
    meta(charset="UTF-8")
    title Mozbe Boilerplate
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="description", content="Mozbe Boilerplate")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    link(rel="stylesheet" href="css/main.css")
    script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js")
body

    .layout

        include _header-inc

    script(src="script/main.js")
